
/* ---------- Nav Bar Styling ---------- */

#navTitle{
  text-decoration: none;
  color: #5C472A;
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  width: 85%;
  font-family: Didot;
  background-color: #EDE6D8;
  position: fixed;
  top: 0;
  z-index: 2;
}

#scale {
  position: fixed;
  z-index: 3;
  opacity: 0.6;
  height: auto;
  width: 330px;
  top: 14px;
}

#scale-end {
  position: fixed;
  z-index: 3;
  opacity: 0.6;
  height: auto;
  width: 308px;
  top: 20px;
  left: 890px;
}

ul {
  /* Nav bar inspired by: https://www.w3schools.com/css/css_navbar.asp */
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  background-color: #EDE6D8;
  position: fixed;
  overflow: hidden;
  top: 50px;
  width: 85%;
  height: 25px;
  z-index: 2;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
    font-weight: normal;
    padding: 16px 18px;
    text-decoration: none;
    color: #5C472A;
    text-decoration: underline;
}

li a:hover {
  background-color: #BBA788;
}

/* ---------- Body Styling ----------*/

body {
  margin: 0 auto;
  padding: 100px;
  color: #5C472A;
  font-family: "Times", sans-serif;
  padding-bottom: 20px;
  padding-top: 80px;
  background-color: #EDE6D8;
  /*background-image: url("../images/recording-studio.png");*/
}

/* ---------- Home Page Styling ----------*/

#band-desc {
  text-align: center;
  padding-top: 30px;
}

/* ---------- Music Page Styling ----------*/

.iframe {
  border: 0;
}

#releases{
  display: inline-block;
  column-count: 2;
  /*column-gap: 20px;*/

}
#albumcover{
  float: left;
  width: 75%;
}

#album_play{
  float:left;
  margin-right: 100px;
}
#album_des {
  float:left;
  font-size: 15px;
  text-align: center;
  padding-right: 100px;
  width: 400px;
}

#our_vids {
  column-count: 2;
  max-width: 100%;
}
/* ---------- About Page Styling ----------*/

#tiles{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tile{
  background-color: #EDE6D8;
  align-self: center;
  height: 40px;
  width: 100px;
  margin: 14px;
  padding: 5px;
  border: solid;
  border-color: #5C472A;
  font-size: 18px;
  text-align: center;

}
.tile a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.profile {
  width: 200px;
  height: 300px;
  padding-right: 15px;
}

.instrument{
  width: 200px;
  height: 150px;
  padding-right: 15px;
  align-self: center;

}

.about{
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: #5C472A;
  background-color: white;
  justify-content: space-between;
  font-size: 18px;
}

#noah {
  width: 200px;
  height: 250px;
}

.blurb {
  position: relative;
}

/* ---------- Booking Page Styling ----------*/

#all-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#state {
  width: 0px;
  height: 0px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#calendar {
  order: 1;
  background-color: #EDE6D8;
  border-width: 0;
}

#form {
  margin: 0 auto;
  width: 330px;
  height: auto;
  padding: 1px;
  border: 2px solid #5C472A;
  background-color: #D4C3A7;
  color: #5C472A;
  border-radius: 10px;
  order: 2;
}

#switch-button-div {
  width: 90px;
  height: 30px;
  order: 3;
}

#switch-button {
  background-color: #D4C3A7;
  border: 2px solid #5C472A;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
  color: #5C472A;
  font-family: 'Didot';
}

#switch-button:active {
  background-color: #5C472A;
  color: #D4C3A7;
}

#form-header {
  text-align: center;
  margin-bottom: 0px;
}

.form-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#date-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#range-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#email-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#form-label-unique {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 50px;
}

#notes {
  align-self: center;
  height: 55px;
  width: 198px;
  resize: none;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

.submit-button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#submit {
  font-family: 'Didot';
  background-color: #EDE6D8;
  border: 2px solid #5C472A;
  color: #5C472A;
  font-size: 13px;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
}

#submit:active {
  background-color: #5C472A;
  border: 2px solid #EDE6D8;
  color: #EDE6D8;
}

#name {
  width: 198px;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#email {
  width: 198px;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#event-date {
  width: 199px;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#time-range-before {
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#time-range-after {
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#switch-forms-button {
  text-align: center;
}

#required-field {
  font-size: 11px;
  padding-left: 85px;
  padding-bottom: 10px;
}

#form-table, .th, .td {
  border: 3px solid #5C472A;
  border-collapse: collapse;
}

.th {
  background-color: #9F8760;
  color: #EDE6D8;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.td {
  background-color: #D4C3A7;
  color: #5C472A;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

#form-table {
  width: 80%;
  margin: auto;
}

.formpage-p {
  margin: 0 auto;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

/* ---------- VALIDATION ---------- */

.error-hidden {
  display: none;
}

#name-error {
  text-align: center;
  width: 130px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#email-error {
  text-align: center;
  width: 130px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#date-error {
  text-align: center;
  width: 100px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#time-error {
  text-align: center;
  width: 175px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#msg-error {
  text-align: center;
  width: 125px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}
