
/* ---------- Nav Bar Styling ---------- */

#navTitle{
  text-decoration: none;
  color: #5C472A;
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  width: 85%;
  font-family: Didot;
  background-color: #EDE6D8;
  position: fixed;
  top: 0;
  z-index: 2;
}

#scale {
  position: fixed;
  z-index: 3;
  opacity: 1;
  height: auto;
  width: 25.5%;
  top: 14px;
}

#scale-end {
  position: fixed;
  z-index: 3;
  opacity: 1;
  height: auto;
  width: 24%;
  top: 20px;
  left: 888px;
}

ul {
  /* Nav bar inspired by: https://www.w3schools.com/css/css_navbar.asp */
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  background-color: #EDE6D8;
  position: fixed;
  overflow: hidden;
  top: 50px;
  width: 85%;
  height: 25px;
  z-index: 2;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
    font-weight: normal;
    padding: 12px 14px;
    text-decoration: none;
    color: #5C472A;
    text-decoration: underline;
    transition: .35s ease-in-out;
}

li a:hover {
  background-color: #BBA788;
  transition: .35s ease-in-out;
}

.active {
  background-image: url("../images/music-note.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

/*anything smaller than this width*/
@media (max-width: 1023px) {
  #scale {
    position: fixed;
    z-index: 3;
    opacity: 0.6;
    height: auto;
    width: 22%;
    top: 27px;
  }

  #scale-end {
    position: fixed;
    z-index: 3;
    opacity: 0.6;
    height: auto;
    width: 20%;
    top: 30px;
    left: 768px;
  }
}

@media (min-width: 1024px) {
  #scale {
    position: fixed;
    z-index: 3;
    opacity: 1;
    height: auto;
    width: 22%;
    top: 27px;
  }

  #scale-end {
    position: fixed;
    z-index: 3;
    opacity: 1;
    height: auto;
    width: 20%;
    top: 30px;
    left: 818px;
  }
}

@media (min-width: 1280px) {
  #scale {
    position: fixed;
    z-index: 3;
    opacity: 1;
    height: auto;
    width: 25.5%;
    top: 14px;
  }

  #scale-end {
    position: fixed;
    z-index: 3;
    opacity: 1;
    height: auto;
    width: 24%;
    top: 20px;
    left: 891px;
  }
}

/* ---------- Body Styling ----------*/

body {
  margin: 0 auto;
  padding: 100px;
  color: #5C472A;
  font-family: "Times", sans-serif;
  padding-bottom: 20px;
  padding-top: 80px;
  background-color: #EDE6D8;
  /*background-image: url("../images/recording-studio.png");*/
}

/* ---------- Home Page Styling ----------*/

#band-desc {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  width: 730px;
  font-size: 25px;
}

.home-box {
  width: 400px;
  height: 250px;
  padding: 0 15px 0 15px;
  border: 2px solid #5C472A;
  border-radius: 0 3px 3px 0;
  margin-bottom: 20px;
}

#thanks {
  float: left;
  font-size: 25px;
  text-align: center;
}

#news {
  float: right;
  padding-top: 0;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-spotify {
  background: #81B71A;
  color: white;
}

.fa-bandcamp {
  background: #629AA9;
  color: white;
}
/*Source: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/

/* ---------- Music Page Styling ----------*/

.iframe {
  border: 0;
}

#releases{
  display: inline-block;
  column-count: 2;
  /*column-gap: 20px;*/

}
#albumcover{
  float: left;
  width: 75%;
}

#album_play{
  float:left;
  margin-right: 100px;
}
#album_des {
  float:left;
  font-size: 15px;
  text-align: center;
  padding-right: 100px;
  width: 400px;
}

#our_vids {
  column-count: 2;
  max-width: 100%;
}
/* ---------- About Page Styling ----------*/

#tiles{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tile{
  background-color: #EDE6D8;
  align-self: center;
  height: 40px;
  width: 100px;
  margin: 14px;
  padding: 5px;
  border: solid;
  border-color: #5C472A;
  font-size: 18px;
  text-align: center;

}
.tile a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.profile {
  width: 200px;
  height: 300px;
  padding-right: 15px;
}

.instrument{
  width: 200px;
  height: 150px;
  padding-right: 15px;
  align-self: center;

}

.about{
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: #5C472A;
  background-color: white;
  justify-content: space-between;
  font-size: 18px;
}

#noah {
  width: 200px;
  height: 250px;
}

.blurb {
  position: relative;
}

/* ---------- Booking Page Styling ----------*/

#all-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#state {
  width: 0px;
  height: 0px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#calendar {
  order: 1;
  background-color: #EDE6D8;
  border: 3px solid #5C472A;
}

#switch-button-div {
  width: 90px;
  height: 30px;
  order: 3;
}

#switch-button {
  background-color: #D4C3A7;
  border: 3px solid #5C472A;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
  color: #5C472A;
  font-family: 'Didot';
}

#switch-button:active {
  background-color: #5C472A;
  color: #D4C3A7;
}
