
/* ---------- Nav Bar Styling ---------- */

#navTitle{
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  width: 100%;
  font-family: Didot;
  background-color: white;
  position: fixed;
  top: 0;
}

ul {
  /* Nav bar inspired by: https://www.w3schools.com/css/css_navbar.asp */
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  /*width: 98.75%;*/
  background-color: white;
  position: fixed;
  overflow: hidden;
  top: 50px;
  width:100%;

}

li {
  display: inline-block;
  text-align: center;
}

li a {
    font-weight: normal;
    padding: 16px 18px;
    text-decoration: none;
    color:inherit;
    text-decoration: underline;
}

li a:hover {
  background-color: pink;
}

/* ---------- Body Styling ----------*/

body {
  margin: 0 auto;
  padding: 100px;
  font-family: "Times", sans-serif;
  padding-bottom: 20px;
  padding-top: 80px;
}

/* ---------- Home Page Styling ----------*/

.home-pics {
  width: 100%;
}

#band-desc {
  text-align: center;
}

/* ---------- Music Page Styling ----------*/

.iframe {
  border: 0;
}

#releases{
  display: inline-block;
  column-count: 2;
  /*column-gap: 20px;*/

}
#albumcover{
  float: left;
  width: 75%;
}

#album_play{
  float:left;
  margin-right: 100px;
}
#album_des {
  float:left;
  font-size: 15px;
  text-align: center;
  padding-right: 100px;
}
/* ---------- About Page Styling ----------*/

.profile {
  width: 200px;
  height: 300px;
}

.instrument{
  width: 200px;
  height: 150px;
}

#noah {
  width: 200px;
  height: 250px;
}

/* ---------- Booking Page Styling ----------*/

#all-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#calendar {
  order: 1;
}

#form {
  margin: 0 auto;
  width: 300px;
  height: 395px;
  padding: 1px;
  border: 2px solid #000000;
  border-radius: 10px;
  order: 2;
  z-index: 1;
}

#switch-button-div {
  width: 70px;
  height: 30px;
  order: 3;
}

#switch-button {
  background-color: white;
  border: 2px solid #000000;
  border-radius: 10px;
  outline: none;
}

#switch-button:active {
  background-color: grey;
}

#form-header {
  text-align: center;
}

.form-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#date-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#range-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#email-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#form-label-unique {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 50px;
}

#notes {
  align-self: center;
  height: 55px;
  width: 175px;
}

.submit-button {
  text-align: center;
  padding-top: 20px;
}

#name {
  width: 175px;
}

#email {
  width: 175px;
}

#event-date {
  width: 175px;
}

#time-range-id {
  width: 140px;
}

#switch-forms-button {
  text-align: center;
}
