
/*---------- FORM STYLING -----------*/
#form {
  margin: 0 auto;
  width: 330px;
  height: auto;
  padding: 1px;
  border: 3px solid #5C472A;
  background-color: #D4C3A7;
  color: #5C472A;
  border-radius: 10px;
  order: 2;
}

#form-header {
  text-align: center;
  margin-bottom: 0px;
}

.form-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#date-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#range-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#email-label {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 20px;
}

#form-label-unique {
  display: inline-block;
  width: 90px;
  text-align: center;
  padding-top: 50px;
}

#notes {
  align-self: center;
  height: 55px;
  width: 198px;
  resize: none;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

.submit-button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#submit {
  font-family: 'Didot';
  background-color: #EDE6D8;
  border: 2px solid #5C472A;
  color: #5C472A;
  font-size: 13px;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
}

#submit:active {
  background-color: #5C472A;
  border: 2px solid #EDE6D8;
  color: #EDE6D8;
}

#name {
  width: 198px;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#email {
  width: 198px;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#event-date {
  width: 199px;
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#time-range-before {
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#time-range-after {
  background-color: #EDE6D8;
  font-family: 'Didot';
}

#switch-forms-button {
  text-align: center;
}

#required-field {
  font-size: 11px;
  padding-left: 85px;
  padding-bottom: 10px;
}

#form-table, .th, .td {
  border: 3px solid #5C472A;
  border-collapse: collapse;
}

.th {
  background-color: #9F8760;
  color: #EDE6D8;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.td {
  background-color: #D4C3A7;
  color: #5C472A;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

#form-table {
  width: 80%;
  margin: auto;
}

.formpage-p {
  margin: 0 auto;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  #name {
    width: 98px;
    background-color: #EDE6D8;
    font-family: 'Didot';
  }

  #email {
    width: 98px;
    background-color: #EDE6D8;
    font-family: 'Didot';
  }

  #event-date {
    width: 99px;
    background-color: #EDE6D8;
    font-family: 'Didot';
  }

  #range-label {
    padding-right: 100px;
  }

  #time-range-before {
    width: 50px;
    background-color: #EDE6D8;
    font-family: 'Didot';
    margin-left: 68px;
  }

  #form-label-unique {
    padding-top: 20px;
  }

  #time-range-after {
    width: 50px;
    background-color: #EDE6D8;
    font-family: 'Didot';
  }
}

/* ---------- VALIDATION STYLING ---------- */

.error-hidden {
  display: none;
}

#name-error {
  text-align: center;
  width: 130px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#email-error {
  text-align: center;
  width: 130px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#date-error {
  text-align: center;
  width: 100px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#time-error {
  text-align: center;
  width: 175px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}

#msg-error {
  text-align: center;
  width: 125px;
  margin-top: 5px;
  margin-left: 95px;
  border: 2px #800000 solid;
  background-color: #F08080;
  color: #800000;
  font-size: 10.5px;
}
