#slide {
  width: 930px;
  margin: auto;
}

#image_container {
  padding: 12px;
  text-align: center;
  margin-bottom: 10px;
}

#current_img {
  height: 400px;
  width: 900px;
}

.slide_button {
  border-radius: 3px;
  border-width: 2px;
  background-color: #BBA788;
  padding: 16px;
  text-align: center;
  font-size: 20px;
  border-color: #5C472A;
  position: absolute;
  top: 70%;
  color: #EDE6D8;
}

.slide_button:hover {
  background-color: #9F8760;
}

.slide_button:active {
  color: #5C472A;
  background-color: #9F8760;
}

.slide_button:focus {
  outline: none;
}

#left {
  left: 135px;
}

#right {
    right: 135px;
}

@media (max-width: 1024px) {
  #current_img {
    width: 800px;
  }

  #left {
    left: 120px;
  }

  #right {
    right: 13px;
  }

  .slide_button {
    position: absolute;
    top: 130%;
  }
}
