#slide {
  /*display: block;*/
  margin: auto 75px;
  width: 930px;
}

#image_container {
  padding: 12px;
  text-align: center;
}

#current_img {
  height: 400px;
  width: 900px;
}

.slide_button {
  border-radius: 20px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  border-color: #28005b;
}

#left {
  float: left;
}

#right {
  float: right;
}
